html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

#dice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: cornflowerblue solid 1px;
}

.dice {
  display: flex;
  flex-direction: row;
}

.die img {
  max-width: 7rem;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.btn_roll {
  display: block;
  width: 100%;
  color: red;
}
